* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FAF0CA;
}

section {
    height: 100vh;
}

.container {
    min-height: 90vh;
    text-align: center;
}

.shemas {
    position: absolute;
    width: 100%;
    height: 90vh;
}

.lines {
    position: absolute;
    width: 100%;
    top: 15%;
    transform: translate(-50%);
}

.colette {
    position: absolute;
    width: 100%;
    height: 50%;
}

.julien {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
}

.laurent {
    position: absolute;
    width: 100%;
    height: 50%;
}

.benoit {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
}

.left {
    position: absolute;
    height: 100%;
    width: 41%;
}

.center {
    position: absolute;
    height: 100%;
    width: 18%;
    left: 41%;
}

.right {
    position: absolute;
    height: 100%;
    width: 41%;
    left: 59%;
}


/* Circle */

.circle#l2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #0D3B66;
    border-radius: 50%;
    top: calc(70% - 50px);
    left: calc(100% - 80px);
}


/* Photo */

.colette_img {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0,-50%);
    border-radius: 50%;
    width: 23%;
    transition: 0.5s;
    z-index: 1;
}

.julien_img {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0,-50%);
    border-radius: 50%;
    width: 23%;
    transition: 0.5s;
    z-index: 1;
}

.laurent_img {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0,-50%);
    border-radius: 50%;
    width: 23%;
    transition: 0.5s;
    z-index: 1;
}

.benoit_img {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0,-50%);
    border-radius: 50%;
    width: 23%;
    transition: 0.5s;
    z-index: 1;
}

/* Noms */

.nom {
    position: absolute;
    color: #6A8D92;
    font-size: 500%;
    font-family: 'Kurale', serif;
    text-decoration: none;
    transition: ease 0.5s;
    transform: translate(-50%,-50%);
}

.nom#nom_colette {
    top: 50%;
    left: 40%;
}

.nom#nom_julien {
    top: 50%;
    left: 40%;
}

.nom#nom_laurent {
    top: 50%;
    right: 40%;
    transform: translate(50%,-50%);
}

.nom#nom_benoit {
    top: 50%;
    right: 40%;
    transform: translate(50%,-50%);
}


/* Texts */

.text {
    position: absolute;
    font-family: 'Kurale', serif;
    color: #0D3B66;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    top: 50%;
    width: 60%;
}

.text#text_colette {    
    width: 60%;
    left: 5%;
}

.text#text_julien {
    left: 5%;
    top: 50%;
}

.text#text_laurent {
    right: 5%;
    top: 50%;
}

.text#text_benoit {
    right: 5%;
    top: 50%;
}


/* Transition Maman */

.colette:hover div#text_colette {
    opacity: 1;
}

.colette:hover div#nom_colette {
    top: 10%;
    left: 40%;
    transform: translate(-50%);
    color: #0D3B66;
}

.colette:hover img {
    width: 28%;
}

/* Transition juju */

.julien:hover div#text_julien {
    opacity: 1;
}

.julien:hover div#nom_julien {
    top: 10%;
    left: 40%;
    transform: translate(-50%);
    color: #0D3B66;
}

.julien:hover img {
    width: 28%;
}


/*Transition papa */

.laurent:hover div#text_laurent {
    opacity: 1;
}

.laurent:hover div#nom_laurent {
    top: 10%;
    right: 40%;
    transform: translate(50%);
    color: #0D3B66;
}

.laurent:hover img {
    width: 28%;
}


/* Transition bebe*/

.benoit:hover div#text_benoit {
    opacity: 1;
}

.benoit:hover div#nom_benoit {
    top: 10%;
    right: 40%;
    transform: translate(50%);
    color: #0D3B66;
}

.benoit:hover img {
    width: 28%;
}