/* Titre Marchadier */

.title {
    position: absolute;
    left: 2%;
    top: 20px;
    width: 20%;
    transition: transform .2s;
    z-index: 2;
}

.title a {
    color: #0D3B66;
    font-size: 500%;
    font-family: 'Tangerine', cursive;
    text-decoration: none;
}

.title:hover {
    transform: scale(1.1);
}


/* The navigation bar */

.topnav {
    position: sticky;
    width: 100%;
    margin: auto -20px;
    top: 0px;
    padding: 0px 0;
}

nav.topnav ul {
    list-style: none;
    text-align: right;
}

nav.topnav ul li {
    display: inline-block;
}

nav.topnav ul li a {
    position: relative;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #EE964B;
    text-transform: none;
    margin: 10px;
    font-size: 150%;
    font-family: 'Kurale', serif;
    transition: transform 2s;
}

nav.topnav ul li a,
nav.topnav ul li a:after,
nav.topnav ul li a:before {
    transition: all .5s;
}

nav.topnav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #EE964B;
    height: 2px;
}

nav.topnav ul li a:hover:after {
    width: 50%;
}