* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FAF0CA;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container {
    min-height: 90vh;
    text-align: center;
    z-index: -1;
}

.blason {
    position: absolute;
    top: 40%;
    width: 40%;
    transform: translate(-50%,-50%);
    transition: transform .2s;
}

.blason:hover {
    transform: scale(1.1) translate(-45%, -45%);
}

.bg {
    position: absolute;
    max-height: 40%;
    width: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.right {
    position:absolute;
    right: 0;
    width: 55vw;
    height: 100vh;
    background-color: #19171b;
}

.left {
    position:absolute;
    left: 0;
    width: 45vw;
    height: 100vh;
    background-color: #19171b;
    color: #FAF0CA;
    font-family: 'Kurale', serif;
    
}

.titre_description {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 200%;
}

.description{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-height: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

.description p {
    font-size: 100%;
    align-items: center;
    text-align: justify;
}

/* Gallery des photos*/

.gallery {
    position: relative;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 60%;
    transform: translate(-50%,-50%);
    display:flex;
    overflow: hiden;
}

.gallery img {
    min-width: 0;
    flex: 1 1 5%;
    border-radius: 1%;
    transition: 0.7s;
    opacity: 0.5;
    object-fit: cover;
}

.gallery img:hover {
    flex: 1 1 80%;
    opacity: 1;

}

@media (max-width: 800px) {
    .left {  
        width: 100vw;
        height: 50vh;
    }
    .right {
        width: 100vw;
        height: 50vh;
        top: 150vh;
    }
    .description {
        top: 60%;
        max-height: 60%;
    }
}



/*
font-family: 'Italianno', cursive;
font-family: 'Kurale', serif;
font-family: 'Tangerine', cursive;
*/